In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [6]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [7]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [8]:
df.shape

(57650, 4)

In [9]:
### checking the total of null values
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [10]:
### Droping link column, and  Taking only 10,000 samples
df = df.sample(15000). drop('link', axis=1).reset_index(drop=True)

In [11]:
df.head(5)

,artist,song,text
0,Doobie Brothers,45Th Floor,Politician drivin' down the road \r\nFlashin'...
1,Peter Gabriel,Don't Break This Rhythm,"Don't break this rhythm, don't break this moti..."
2,Miley Cyrus,This Is The Life,Take the world \r\nShake and Stir \r\nAnd th...
3,Nazareth,I Had A Dream,I had a dream \r\nI had a dream \r\nI saw th...
4,Leann Rimes,Commitment,What I'm lookin' for \r\nIs a love that's for...

In [12]:
### Lyrics of the first song
df['text'][0]

"Politician drivin' down the road  \r\nFlashin' that smile that got him the vote.  \r\nHere's another country girl,  \r\nHe's teachin' her about the world in his room  \r\nOn the 45th floor - get 'em all while they're young.  \r\nCampaign money comes rollin' in  \r\nAin't nobody askin' where it's been,  \r\nTalk about a smokin' gun.  \r\nWhat'd we pay to get his son out of jail?  \r\nDon't inhale  \r\nOn the 45th floor.  \r\nWe all know what's been happenin',  \r\nAin't no slappin' him down.  \r\nWe're supposedly invited to the party,  \r\nBut the elevator's never gonna stop  \r\nOn the 45th floor.  \r\nDoesn't matter if it's day or night  \r\n'Cause we're all gonna pay the price.  \r\nAnd the party rolls on.  \r\nUsed to be a rumour goin' round,  \r\nThe people tried to run my man outta town.  \r\nWe thought we'd see him ride the rails.  \r\nNo one's ever gonna nail him down  \r\nAll because of the 45th floor.  \r\nWe all know what's been happenin',  \r\nAin't no slappin' him down.  \r\nWe're supposedly invited to the party,  \r\nBut the elevator's never gonna stop  \r\nOn the 45th floor.  \r\nOesn't matter if it's day or night  \r\n'Cause we're all gonna pay the price.  \r\nAnd the party rolls on.  \r\nNone of these fools ever thinks about the pain they cause.  \r\nIt's all about an image to uphold.  \r\nHow could anybody be so bold?  \r\nTakin' all the candy from the hands of a child.  \r\nWe all know what's been happenin',  \r\nAin't no slappin' him down.  \r\nWe're supposedly invited to the party,  \r\nBut the elevator's never gonna stop  \r\nOn the 45th floor.  \r\nDoesn't matter if it's day or night  \r\n'Cause we're all gonna pay the price.  \r\nAnd the party rolls on.  \r\nDoesn't matter if it's day or night  \r\n'Cause we're all gonna pay the price.  \r\nAnd the party rolls on.  \r\n  \r\n\r\n"

In [13]:
df.shape

(15000, 3)

### text cleaning / text preprocessing

In [14]:
### 1. changint the text into lower case, and then replacing special characters, numbers, and newline by white space
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', '', regex=True)

In [15]:
df['text']

0        politician drivin' down the road  \rflashin' t...
1        don't break this rhythm, don't break this moti...
2        take the world  \rshake and stir  \rand that's...
3        i had a dream  \ri had a dream  \ri saw the mi...
4        what i'm lookin' for  \ris a love that's forev...
                               ...
14995    it said 3:30 on my watch  \rbig show don't sta...
14996    i could hold on for a hundred years  \rwhen al...
14997    just for the fun of it  \rjust to be gay  \ryo...
14998    tell me true tell me why was jesus crucified  ...
14999    i hear the beating of your wings  \rand you're...
Name: text, Length: 15000, dtype: object

In [16]:
### Replacing the cartage return by null
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\r', '', regex=True)

In [18]:
df['text']

0        politician drivin' down the road  flashin' tha...
1        don't break this rhythm, don't break this moti...
2        take the world  shake and stir  and that's wha...
3        i had a dream  i had a dream  i saw the missio...
4        what i'm lookin' for  is a love that's forever...
                               ...
14995    it said 3:30 on my watch  big show don't start...
14996    i could hold on for a hundred years  when all ...
14997    just for the fun of it  just to be gay  you ma...
14998    tell me true tell me why was jesus crucified  ...
14999    i hear the beating of your wings  and you're p...
Name: text, Length: 15000, dtype: object

In [19]:
df['text'][0]

"politician drivin' down the road  flashin' that smile that got him the vote.  here's another country girl,  he's teachin' her about the world in his room  on the 45th floor - get 'em all while they're young.  campaign money comes rollin' in  ain't nobody askin' where it's been,  talk about a smokin' gun.  what'd we pay to get his son out of jail?  don't inhale  on the 45th floor.  we all know what's been happenin',  ain't no slappin' him down.  we're supposedly invited to the party,  but the elevator's never gonna stop  on the 45th floor.  doesn't matter if it's day or night  'cause we're all gonna pay the price.  and the party rolls on.  used to be a rumour goin' round,  the people tried to run my man outta town.  we thought we'd see him ride the rails.  no one's ever gonna nail him down  all because of the 45th floor.  we all know what's been happenin',  ain't no slappin' him down.  we're supposedly invited to the party,  but the elevator's never gonna stop  on the 45th floor.  oesn't matter if it's day or night  'cause we're all gonna pay the price.  and the party rolls on.  none of these fools ever thinks about the pain they cause.  it's all about an image to uphold.  how could anybody be so bold?  takin' all the candy from the hands of a child.  we all know what's been happenin',  ain't no slappin' him down.  we're supposedly invited to the party,  but the elevator's never gonna stop  on the 45th floor.  doesn't matter if it's day or night  'cause we're all gonna pay the price.  and the party rolls on.  doesn't matter if it's day or night  'cause we're all gonna pay the price.  and the party rolls on.    "

In [20]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
### 2. then we need to stem the text 
from nltk.stem.porter import PorterStemmer

In [22]:
stemmer = PorterStemmer()

In [23]:
### Then we need to convert the words into tokens
def token(text):
    token = nltk.word_tokenize(text)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [24]:
### example
token("you are so beautiful, beauty")

'you are so beauti , beauti'

In [25]:
### Applying the token function to the text column
df['text'].apply(lambda x: token(x))

0        politician drivin ' down the road flashin ' th...
1        do n't break thi rhythm , do n't break thi mot...
2        take the world shake and stir and that 's what...
3        i had a dream i had a dream i saw the mission ...
4        what i 'm lookin ' for is a love that 's forev...
                               ...
14995    it said 3:30 on my watch big show do n't start...
14996    i could hold on for a hundr year when all els ...
14997    just for the fun of it just to be gay you made...
14998    tell me true tell me whi wa jesu crucifi is it...
14999    i hear the beat of your wing and you 're play ...
Name: text, Length: 15000, dtype: object

In [26]:
### 3. then we need to vectorize the words
### for this task, we use TF-IDF vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

### to calculate the distance between data points, we use cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
### Using TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', stop_words='english')

In [28]:
tfidf.fit_transform(df['text'])

<15000x42318 sparse matrix of type '<class 'numpy.float64'>'
	with 801462 stored elements in Compressed Sparse Row format>

In [29]:
matrix  = tfidf.fit_transform(df['text'])

In [30]:
cosine_similarity(matrix)

array([[1.        , 0.01619479, 0.05150774, ..., 0.        , 0.        ,
        0.00475084],
       [0.01619479, 1.        , 0.03452125, ..., 0.00997484, 0.00186286,
        0.        ],
       [0.05150774, 0.03452125, 1.        , ..., 0.02957952, 0.03252441,
        0.02023392],
       ...,
       [0.        , 0.00997484, 0.02957952, ..., 1.        , 0.05868719,
        0.03726264],
       [0.        , 0.00186286, 0.03252441, ..., 0.05868719, 1.        ,
        0.        ],
       [0.00475084, 0.        , 0.02023392, ..., 0.03726264, 0.        ,
        1.        ]])

In [31]:
similar = cosine_similarity(matrix)

In [32]:
similar[0]

array([1.        , 0.01619479, 0.05150774, ..., 0.        , 0.        ,
       0.00475084])

In [33]:
df['song']

0                     45Th Floor
1        Don't Break This Rhythm
2               This Is The Life
3                  I Had A Dream
4                     Commitment
                  ...
14995             Low Down Dirty
14996        In Another Lifetime
14997     Just For The Fun Of It
14998         The Post War Dream
14999                    Haunted
Name: song, Length: 15000, dtype: object

In [35]:
df[df['song'] == 'In Another Lifetime']

,artist,song,text
14996,Gary Valenciano,In Another Lifetime,i could hold on for a hundred years when all ...

In [37]:
df[df['song'] == 'In Another Lifetime'].index[0]

14996

### Recommender Function
the recommender function uses cosine similarity, hybrid is the best alternative

In [38]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    song = []
    for s_id in distance[1:16]: ### to recommend me the first 15 songs
        song.append(df.iloc[s_id[0]].song)
    return song

In [39]:
recommender("In Another Lifetime")

['I Believe',
 'Promise',
 'This Is The Time',
 "If Ever You're In My Arms Again",
 'Be My Forever',
 'All My Life',
 "Say You'll Be Mine",
 'Still Around',
 'Forever In Your Heart',
 'On The Line',
 'I Feel Your Pain',
 'How',
 'Pieces Of A Dream',
 "Love We Got Goin'",
 'The Love He Has For You']

### Dumping the models

In [40]:
import pickle

In [41]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [42]:
pickle.dump(df, open("df.pkl", "wb"))